body { 
    margin: 50px;
    text-align: center;
    background-color: bisque;
    color: rgb(83, 75, 75);
  }
  h1 {
    font-family: "Merriweather", serif;
  }
  p {
    font-family: "Merriweather", serif;
    color: rgb(84, 9, 90);
    font-size: 22px;
  }
  a {
    font-family: "Merriweather", sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: #9d00ff;
  }
  a:hover{
      text-decoration: underline;
  }
  